#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;

}

#good-dog-filter {
  margin-top: 1vh;
  width: 35vw;
  font-size: 1em;
  height: 5vh;
  border-radius: 3em;
}

#dog-bar {
  height: 15vh;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dog-bar span {
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  border: 1px solid blue;
}

#dog-summary-container {
  height: 75vh;
  text-align: center;
}

#dog-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#dog-info img {
  max-width: 75vw;
  max-height: 25vw;
}

div.dog-block {
  border-radius: 25px;
  border: 2px solid #7f7fff;
  padding: 5px; 
  width: 125px;
  height: 50px; 
  text-align: center
}

div.dog-show {
  text-align: center
}

img.dog-image {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

body {
  margin: 0;
}
